@inherits LayoutComponentBase

<WindowResizeHandlerComponent/>
<div class="variable-wraper">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
    <SettingsMenu />
</div>

@* Sets css-variables outside css file to acces state*@
<style>
    .variable-wraper {
        --background: @ViewState.Value.ActiveTheme.Background;
        --primary: @ViewState.Value.ActiveTheme.Primary;
        --secondary: @ViewState.Value.ActiveTheme.Secondary;
        --dark: @ViewState.Value.ActiveTheme.Dark;
        --light: @ViewState.Value.ActiveTheme.Light;
        --text-primary: @ViewState.Value.ActiveTheme.TextPrimary;
        --text-secondary: @ViewState.Value.ActiveTheme.TextSecondary;
        --text-info: @ViewState.Value.ActiveTheme.TextInfo;
    }
</style>