@inherits LayoutComponentBase

<div class="variable-wraper">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
<SettingsMenu />
</div>

@* Sets css-variables outside css file to acces state*@
<style>
    .variable-wraper {
        --background: @ViewState.Value.Colors.Background;
        --primary: @ViewState.Value.Colors.Primary;
        --secondary: @ViewState.Value.Colors.Secondary;
        --dark: @ViewState.Value.Colors.Dark;
        --light: @ViewState.Value.Colors.Light;

        --text-primary: @ViewState.Value.Colors.TextPrimary;
        --text-secondary: @ViewState.Value.Colors.TextSecondary;
        --text-highlight: @ViewState.Value.Colors.TextHighlight;
    }
</style>