@inherits FluxorComponent

<div class="navbar-all">

    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Robin Claesson</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass">
        <nav class="flex-column">
            @*Home*@
            <div class="nav-item px-3" @onclick="ToggleNavMenu">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="oi oi-home" aria-hidden="true" />
                    Home
                </NavLink>
            </div>

            @*Projects*@
            <div class="nav-item px-3">
                <NavLink class="nav-link" Match="NavLinkMatch.All" @onclick="ToggleProjectMenu">
                    <i class="fa-solid fa-laptop-file" />
                    Projects
                    &#160;&#160;

                    @if (ViewState.Value.OpenWindows.ProjectMenu)
                    {
                        <i class="fa-solid fa-angle-up" />
                    }
                    else
                    {
                        <i class="fa-solid fa-angle-down" />
                    }
                </NavLink>
            </div>
            @if (ViewState.Value.OpenWindows.ProjectMenu)
            {
                <div class="project-item-div">
                    @foreach (var project in ViewState.Value.Projects)
                    {
                        <div class="nav-item px-3 project-item">
                            @*<Tooltip Text="@project.Description" Placement="TooltipPlacement.RightEnd">*@
                            <NavLink class="nav-link" href="@PageHref(project.PageName)" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                                <i class="@project.Icon nav-icon" aria-hidden="true" />
                                @project.Name
                            </NavLink>
                            @*</Tooltip>*@
                        </div>
                    }
                </div>
            }

            }

        </nav>
    </div>
</div>
