@page "/"

<PageTitle>Robin Claesson</PageTitle>

<h1>Hello Claesson!</h1>

Welcome to your new app.
<div>
    <p>Value of Background: @ViewState.Value.Colors.Background</p>
    <p>Value of Primary: @ViewState.Value.Colors.Primary</p>
    <p>Value of Secondary: @ViewState.Value.Colors.Secondary</p>
    <p>Value of TextPrimary: @ViewState.Value.Colors.TextPrimary</p>
    <p>Value of TextSecondary: @ViewState.Value.Colors.TextSecondary</p>
</div>
